<section class='form-section'>
  <div class='form-section-container'>
    <h2>Personal Info</h2>
    <p>Please provide your name, email, address, and phone number</p>
    <form>
      <app-first-form-step [currentStep]='currentStep' />
      <app-second-form-step [currentStep]='currentStep' [dateType]='dateType' />
      <app-date-type-changer [handleDateTypeChange]='handleDateTypeChange' [dateType]='dateType' *ngIf='currentStep > 0 && currentStep < 3'/>
      <div class='btns-container'>
        <button type='button' class='back-btn' *ngIf='currentStep > 0' (click)='handlePreviousStep()'>Go back</button>
        <button type='button' class='next-btn' *ngIf='currentStep < 3' (click)='handleNextStep()'>Next Step</button>
      </div>
    </form>
  </div>
</section>
