<section class='form-section'>
  <div class='form-section-container'>
    <app-form-step-information [formStepInformation]='formStepsInformation[currentStep]' />
    <form>
      <app-first-form-step *ngIf='currentStep === 0' [updateFormData]='updateFormData' [resetInputErrors]='resetInputErrors' [inputErrors]='inputErrors' />
      <app-second-form-step [dateType]='dateType' *ngIf='currentStep === 1' />
      <app-third-form-step [dateType]='dateType' *ngIf='currentStep === 2' />
      <app-fourth-form-step [dateType]='dateType' *ngIf='currentStep === 3' />
      <app-date-type-changer [handleDateTypeChange]='handleDateTypeChange' [dateType]='dateType' *ngIf='currentStep > 0'/>
      <div class='btns-container'>
        <button type='button' class='back-btn' *ngIf='currentStep > 0' (click)='handlePreviousStep()'>Go back</button>
        <button type='button' class='next-btn' *ngIf='currentStep < 3' (click)='checkInputs()'>Next Step</button>
      </div>
    </form>
  </div>
</section>
