<div class='summary-container'>
  <div class='summary-information'>
    <div class='selected-subscription'>
      <div class='subscription-information'>
        <h3>Arcade (Monthly)</h3>
        <p>Change</p>
      </div>
      <p class='subscription-price'>$9/mo</p>
    </div>
    <div class='selected-addons'>
      <div class='addon'>
        <p>Online Service</p>
        <h4>+$1/mo</h4>
      </div>
      <div class='addon'>
        <p>larger Storage</p>
        <h4>+$2/mo</h4>
      </div>
    </div>
  </div>
  <div class='summary-total'>
    <p>Total (per month)</p>
    <h4>+$12/mo</h4>
  </div>
</div>
