<div class='summary-container'>
  <div class='summary-information'>
    <div class='selected-subscription'>
      <div class='subscription-information'>
        <h3>{{formData.subscription?.name}} ({{dateType === 'monthly' ? 'Monthly' : 'Yearly'}})</h3>
        <p (click)='backToSubscriptionStep()'>Change</p>
      </div>
      <p class='subscription-price'>$9/mo</p>
    </div>
    <div class='selected-addons'>
      <div class='addon' *ngFor='let addon of formData.addons'>
        <p>{{addon.name}}</p>
        <h4>{{dateType === 'monthly' ? addon.monthlyAdditionalPrice : addon.yearlyAdditionalPrice}}</h4>
      </div>
    </div>
  </div>
  <div class='summary-total'>
    <p>Total (per month)</p>
    <h4>+$12/mo</h4>
  </div>
</div>
